@model string

@{
    Layout = "_Layout";
}

@section CSS {
<link rel="stylesheet" href="~/css/views/file.css">
}

<script>
    const __objectId__ = "@Model";
</script>

@section JS {
<script src="~/js/views/file.js"></script>
}


<input type="file" id="file-obj" hidden>

<div class="mdc-menu mdc-menu-surface" id="demo-menu">
    <ul class="mdc-list bucket" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
        <li>
            <ul class="mdc-menu__selection-group">
                <li class="mdc-list-item" role="menuitem" onclick="addObjectByBucket()">
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__text">Agregar archivo</span>
                </li>

                <li class="mdc-list-item" role="menuitem" onclick="deleteBucket()">
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__text">Borrar folder</span>
                </li>
            </ul>
        </li>
    </ul>
    
    <ul class="mdc-list file" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
        <li>
            <ul class="mdc-menu__selection-group">
                <li class="mdc-list-item" role="menuitem" onclick="deleteArchivo()">
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__text">Borrar archivo</span>
                </li>
            </ul>
        </li>
    </ul>
</div>


<main class="list-object">
    <h4>Información general</h4>

    <ul class="mdc-list"></ul>


    <button class="mdc-fab mdc-fab--extended mdc-button--unelevated">
        <div class="mdc-fab__ripple"></div>
        <span class="material-icons mdc-fab__icon">add</span>
        <span class="mdc-fab__label">Nuevo folder</span>
    </button>
</main>

<main class="viewer">
    <div class="undo material-icons">undo</div>
</main>